* {
    font-family: Ubuntu,Segoe UI,Helvetica,Verdana;
    box-sizing: border-box;
    list-style-type: none;
}

header {
    background: #fde994;
}

.site-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-bottom: 20px;

    h1 {
        color: #83580b;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
    }
}

.zip-code-form-items{

    .zip-code-form-group {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        .zip-code-form {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-flow: column wrap;
            width: 100%;

            .zip-code-box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;
                margin-bottom: 20px;

                .zip-code-search {

                    height: 40px;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: justify;
                    color: #000;
                    background-color: #fff;
                    border: 1px solid #83580b;
                    // transition: padding .4s ease;
                    text-indent: 10px;
                    border-radius: 7px;
                    margin-bottom: 20px;
                    border-radius: 7px;
                    font-size: 12px;

                }

            }

            .zip-code-button-group {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;
                margin-bottom: 40px;
                border-radius: 7px;


                .button-group-box {
                    
                    height: 40px;
                    font-size: 12px;
                    font-weight: 400;
                    text-align: justify;
                    color: #000;
                    background-color: #fff;
                    border: 1px solid #83580b;
                    // transition: padding .4s ease;
                    text-indent: 10px -10px;
                    outline: none;
                    border-radius: 7px;

                    &:hover {
                        cursor: pointer;
                        color: #83580b;
                    }
                }
            }
        }
    }
    .zip-code-result-group {

        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-flow: row wrap;

        .zip-code-map {

            max-width: 100%;
            max-height: 100%;
            display: flex;
            // background: url('https://i.pinimg.com/originals/eb/4a/22/eb4a22513af0fc4e427b47307a11189c.jpg');
            // background-repeat: no-repeat;
            // background-size: contain;


            iframe {
                
                width: 100%;
                border: none;
                box-shadow: 20px #00000030;
                margin: auto;
                margin-bottom: 20px;
            }
        }

        .zip-code-info {

            align-items: flex-start;
            justify-content: flex-start;
            display: flex;
            flex-flow: column wrap;
            background: #fde994;

            span {
                margin: 15px;
                font-size: 14px;
                font-weight: 400;
                text-align: justify;

            }
        }
    } 
}    

.footer-content {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background: #fde994;

    span {

        margin: 10px;
        font-size: 12px;
        font-weight: 400;

        &.terms-of-service {
            &:hover {

                cursor: pointer;
                color: #83580b;

            }            
        }
    }
}

//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     box-sizing: border-box;
//     padding: 0;
//     border: none;
//     margin: auto;
//     display: block;
//     width: 0;
//     height: 0;
//     min-width: 100%;
//     max-width: 100%;
//     min-height: 100%;
//     max-height: 100%;



/*This is the start of a @media*/

// @media screen and (max-width: 720px) {

//     flex-wrap: inherit;

//     .zip-code-form-group {
//         flex-wrap: inherit;
        
//         .zip-code-form {
//             flex-wrap: inherit;

//             .zip-code-box {
//                 flex-wrap: inherit;
//                 width: 100%;
//             }
//             .zip-code-button-group {
//                 flex-wrap: inherit;

//             }
//         }
//     }
//     .zip-code-result-group {
//         flex-wrap: inherit;

//         .zip-code-map {
//             flex-wrap: inherit;
//             align-items: center;

//             iframe {
//                 flex-wrap: inherit;
//                 margin-bottom: 20px;
//             }
//         }

//         .zip-code-info {
//             flex-wrap: inherit;
//             align-items: center;

//             .zip-code-details {
//                 flex-wrap: inherit;
//                 align-items: center;

//                 span {
//                     flex-wrap: inherit;
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//     }

// }