/** {
    box-sizing: border-box;
    font-family: Ubuntu,Segoe UI,Helvetica,Verdana;
}
*/

h1 {

	color: red;
}

img {
	width: 300px;
	height: 300px;
	border-radius: 25px

}


.container {
	display: flex;	
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center; 
}

.name {
	display: flex;
	justify-content: center;
	align-items: center; 
}



