
h1 {

    color: red;
}

.animals {
    width: 630px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


.images {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.images li {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 3px 3px 10px #00000030;
    transition: all 0.7s ease;
}

/*Position of the background images relative to the card*/

.images li.bear {
    background-image: url('images/bear.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

.images li.butterfly {
    background-image: url('images/butterfly.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.images li.fish {
    background-image: url('images/fish.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.images li.gorilla {
    background-image: url('images/gorilla.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: middle left;
}
.images li.hawk {
    background-image: url('images/hawk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: middle center;
}

.images li.snake {
    background-image: url('images/snake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: middle right;
}
.images li.tiger {
    background-image: url('images/tiger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}

.images li.tortoise {
    background-image: url('images/tortoise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.images li.wolf {
    background-image: url('images/wolf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.images li.butterfly span {
    position: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

/*Position of the background images relative to the card*/

@media screen and (min-width: 1200px) {
    .images li {
        width: 200px;
        margin-right: 10px;
    }


    .images li.bear {
        background-size: 50px 50px;
        background-position: top left;
    }

    .images li.butterfly {
        background-size: 50px 50px;
        background-position: top center;
    }

    .images li.fish {
        background-size: 50px 50px;
        background-position: top right;
    }
    .images li.gorilla {
        background-size: 50px 50px;
        background-position: middle left;
    }
    .images li.hawk {
        background-size: 50px 50px;
        background-position: middle center;
    }
    .images li.snake {
        background-size: 50px 50px;
        background-position: middle right;
    }
    .images li.tiger {
        background-size: 50px 50px;
        background-position: bottom left;
    }
    .images li.tortoise {
        background-size: 50px 50px;
        background-position: bottom center;
    }
    .images li.wolf {
        background-size: 50px 50px;
        background-position: bottom right;
    }

}

/*Animation when hover*/

.images li.bear:hover {
    background-size: cover;
    background-position: center;
}

.images li.butterfly:hover {
    background-size: cover;
    background-position: center;
}
.images li.fish:hover {
    background-size: cover;
    background-position: center;
}
.images li.gorilla:hover {
    background-size: cover;
    background-position: center;
}
.images li.hawk:hover {
    background-size: cover;
    background-position: center;
}
.images li.snake:hover {
    background-size: cover;
    background-position: center;
}
.images li.tiger:hover {
    background-size: cover;
    background-position: center;
}
.images li.tortoise:hover {
    background-size: cover;
    background-position: center;
}
.images li.wolf:hover {
    background-size: cover;
    background-position: center;
}


/*Span change when hover*/

.images li.bear:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}
.images li.butterfly:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.images li.fish:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.images li.gorilla:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.images li.hawk:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.images li.snake:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.images li.tiger:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.images li.tortoise:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.images li.wolf:hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}


.image li:nth-child(3n+3) {
    margin-right: 0px;
}

.images li > span {
    text-align: center;
}
