
/* Style the whole container */

.expanded {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


/* Style the collapsible container */
.list {

  /*Style*/

    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

  /*Expand property*/
}

/* Style the collapsible list items */

.list li{

  /*Style*/

    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFF;
    box-shadow: 3px 3px 10px #00000030;

    /*Expand property*/
}

.office2021hs div.container {
  display: flex;
  justify-content: space-between;
}

.details,
.show,
.hide:target {
  display: none;
}

.hide:target + .show,
.hide:target ~ .details {
  display: inline-flex;
}

.display div.details {
    background-image: url('images/office_2021_home_and_student_1.png');
    background-repeat: no-repeat;
    background-position: center center;
}

/*<div>
  <a id="hide1" href="#hide1" class="hide">+ Summary goes here</a>
  <a id="show1" href="#show1" class="show">- Summary goes here</a>
  <div class="details">
    Content goes here.
  </div>
</div>
<div>
  <a id="hide2" href="#hide2" class="hide">+ Summary goes here</a>
  <a id="show2" href="#show2" class="show">- Summary goes here</a>
  <div class="details">
    Content goes here.
  </div>
</div>
*/

/*Set the layout change according to screen size*/

@media screen and (max-width: 720px) {


/*  Pic on top

  Comment on bottom*/

}

