
.list {
    list-style-type: none;

/*    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;*/

}

.list li{

/*  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;*/
  margin-bottom: 10px;
  background-color: #FFF;
  box-shadow: 3px 3px 10px #00000030;
}


.collapsible {
  background-color: #FFF;
  color: black;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

button.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.content {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  background-color: #FFF;
}

















/*--------------------------------*/
/* Style the whole container */

/*.expanded {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}*/


/* Style the collapsible container */

/*.list {

    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}*/

/* Style the collapsible list items */

/*
.list li{

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFF;
  box-shadow: 3px 3px 10px #00000030;
}*/

/*.office2021hs div.container {
  display: flex;
  justify-content: space-between;

}

.details,
.show,
.hide:target {
  display: none;
}

.hide:target + .show,
.hide:target ~ .details {
  display: flex;
}

.display div.details {
    background-image: url('images/office_2021_home_and_student_1.png');
    background-repeat: no-repeat;
    background-position: center center;
}*/

/*Set the layout change according to screen size*/

/*@media screen and (max-width: 720px) {*/

/*  Pic on top

  Comment on bottom*/

}

/*--------------------------------*/