/*Review how to apply img / background image */
* {
    box-sizing: border-box; /* This makes all boxes maintain the width/height,
                            regardless of the padding */
}

ul {
    line-height: 2; /* Spacing for text */
}

.flex-container { /*Flexbox to include the logo and values divs*/
    display: flex;
}

.logo {
    flex: 50%;
}

.values {
    flex: 50%;
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 0px 80px;
    text-align: justify;
    text-justify: inter-word;
}

button[name="reviewForm"]:hover { /* Change border color when hover*/
    border-color: blue;
}

button[name="reviewForm"]:active { /* Change text color when click*/
    color: red;
}

/* Positions
    Relative: set the object away 'x' pxs to the right, left, bottom
                right from the static position. When to use?
    Fixed: relative to the viewport, so it always stays the same, even when page is scrolled. When to use?
    Absolute: positioned relative to the nearest positioned ancestor. When to use?
    Sticky: positioned based on the user's scroll position.
    
*/



