body {
    color: red;
    /*background-image: url("images/SKLogo.png");*/

    }

ul {
    line-height: 2;

}

#SKvalues {
    display: block; 
    width: 200px; 
    margin: 0 auto; 
    padding: 0px 80px;
    box-sizing: border-box; /* This makes the div to have no 
                                more than 200px width */


}







